/* Podcast */
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  display: inline-block;   /* Card se ajusta ao tamanho do conteúdo */
  padding: 10px;
  margin: 0 auto;
}

#podcast img {
  width: 120px;  /* Diminui a imagem */
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 0 auto 10px; /* Centraliza */
}
